.file-upload-modal {
  background-color: transparent !important;
  color: white;
  .modal-content {
    background-color: transparent;
    border: none;
    outline: none;
  }
  .file-upload-text {
    font-size: 30px;
    font-weight: 500;
  }
}
