.skeleton-card-title{ 
    justify-content: space-between;
    flex-wrap: wrap;
}

.skeletonExtensionOnGoing_Card{
    min-height: 30px; 
    margin-top: 0 !important;
    padding: 0;
    @media(max-width:595px){
        display: none;
    }
} 

.borderline_dashed_skeleton{ 
    width: 100%;  
    border-bottom: 2px dashed #ccc;
    padding: 5px 10px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: .7rem;
}