.screen-shots-view-type{

  .candidate_reg{
    .screenShot_ActivitiesRow_alignedMob{
      @media(max-width:595px){
        align-items: center;
      }

      .gridList_colMob{
        @media(max-width:335px){
          padding-left: 0;
        }
      }
    }
  }
    .screen-shots-captured-area{
       margin-top: -10px;
        .screen-shots-captured-area-item{
            border-bottom: 1px solid lightgray;
            padding-top: 25px;
            .screenshots-header{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-bottom: 15px;
                img{
                    width: 35px;
                    margin-right: 15px;

                }
                h5{
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 0px;
                }
            }
            .screenshots-captured{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                .no-screen-available{
                    height: 90px;
                    width: 220px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px dotted lightgray;
                    margin: 0px 20px 20px 0px;
                    border-radius: 8px;
                }
                .screenshots-captured-item{
                    width: 130px;
                    margin: 0px 20px 20px 0px;
                    .screenshots-pic{
                        margin-bottom: 10px;
                        border-radius: 4px;
                        width: 130px;
                        height: 90px;
                        background-color: lightgray;
                          img{
                            width: 100%;
                            border-radius: 4px;
                            height: 100%;
                            object-fit: cover; 
                            cursor: zoom-in !important;
                          }
                    }
                    .screenshots-detail{
                     display: flex;
                     justify-content: space-between;
                     align-items: center;
                     p{
                         margin-bottom: 8px;
                         font-size: 13px;
                         font-weight: 500;

                     }
                     .custom-checkbox-styled {
                        position: absolute; // take it out of document flow
                        opacity: 0; 
                        & + label {
                          position: relative;
                          cursor: pointer;
                          padding: 0;
                          font-size: 13px;
                         
                        }
                      
                        & + label:before {
                          content: "";
                          margin-right: 5px;
                          display: inline-block;
                          vertical-align: text-top;
                          width: 16px;
                          height: 16px;
                          background: white;
                          border: 1px solid lightgray;
                          border-radius: 3px;
                        }
                      
                        &:hover + label:before {
                          background: #0d2146;
                        }
                      
                        &:focus + label:before {
                        }
                      
                        &:checked + label:before {
                          background: #0d2146;
                        }
                      
                        &:disabled + label {
                          color: #b8b8b8;
                          cursor: auto;
                        }
                      
                        &:disabled + label:before {
                          box-shadow: none;
                          background: #ddd;
                        }
                      
                        &:checked + label:after {
                          content: "";
                          position: absolute;
                          left: 3px;
                          top: 8px;
                          background: white;
                          width: 2px;
                          height: 2px;
                          border-radius: 3px;
                          box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
                            4px -6px 0 white, 4px -8px 0 white;
                          transform: rotate(45deg);
                        }
                      }
                    }

                }
            }


        }

    }

    .button-design-custom-manual-time {
      display: flex;
      justify-content: flex-end;
      button {
        margin-right: 0;
        min-width: 130px !important;
        border: 1px solid lightgray !important;
        @media(min-width:595px){
          max-width: 200px !important;
        }
      }
    }

    .button-design_ManualTimeMobile{
      @media(max-width:595px){
        display: flex;
        flex-wrap: nowrap;
        margin: 10px 0 0;
        padding-left: 0;
        margin-left: -10px;
      }
      @media(max-width:395px){ 
        margin-left: -5px;
      }
      .btn:first-child {
        @media(max-width:595px){
          margin-right: 3px !important;
        }
    }
    }
}
.hourly_rate{
    i{
        cursor: pointer;
    }
}