.header-line {
  height: 15rem;
  background-color: #0d2146;
  position: relative;
  @media (max-width: 595px) {
    height: 19rem;
  }

  .header-line-title {
    padding-top: 2rem;
    font-size: 32px;
    font-family: "Raleway", "Roboto";
    color: white;

    .header-line-contents {
      font-size: 0.9rem;
      font-family: "Roboto";
      color: white;
      max-width: 800px;
      @media (max-width: 335px) {
        font-size: 0.8rem;
      }
    }
    .header-line-contents-1 {
      font-size: 0.9rem;
      font-family: "Roboto";
      color: white;
      max-width: 800px;
      margin-top: -14px;
      @media (max-width: 335px) {
        font-size: 0.8rem;
      }
    }
  }

  .Tabs_section_register_freelancer {
    position: absolute;
    bottom: 0;
    width: 85%;
    @media (max-width: 900px) and (min-width: 700px) {
      width: 90%;
    }
    @media (max-width: 595px) {
      width: 94%;
    }
    @media (max-width: 300px) {
      width: 90%;
    }
    .Tabs {
      height: auto;
      color: #000;
      /* Tab Navigation */
      ul.nav {
        width: 41%;
        display: flex;
        background-color: #d0e3ff;
        align-items: center;
        justify-content: space-between;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        @media (max-width: 1208px) and (min-width: 800px) {
          width: 100%;
        }
        @media (max-width: 795px) and (min-width:600px) {
          width: 80%;
        }
        @media (max-width: 595px) {
          width: 100%;
        }
      }
      ul.nav li {
        width: 50%;
        padding: 0.5rem 0;
        list-style: none;
        text-align: center;
        cursor: pointer;
        font-size: 14px;
        transition: all 0.7s;
        border-left: 1px solid rgba(0, 0, 0, 0.542);
        border-top-left-radius: 5px;
        font-family: "Roboto";
        @media (max-width: 595px) {
          font-size: 12px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: 3px;
        }
      }
      ul.nav li:nth-child(2) {
        border-radius: 0;
        border-top-left-radius: 5px;
      }
      ul.nav li:hover {
        background: rgba(50, 224, 196, 0.15);
      }
      ul.nav li.active {
        background: #fff;
      }
      // post project nav tabs sections
      ul.nav_postProject {
        width: 63%;
        display: flex;
        background-color: #d0e3ff;
        align-items: center;
        justify-content: space-between;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        @media (max-width: 1308px) and (min-width: 1100px) {
          width: 85%;
        }
        @media (max-width: 1108px) and (min-width: 600px) {
          width: 100%;
        }
        @media (max-width: 595px) {
          width: 100%;
        }
        li {
          padding: 0.5rem 0;
          list-style: none;
          text-align: center;
          cursor: pointer;
          font-size: 14px;
          transition: all 0.7s;
          border-top-right-radius: 5px;
          border-left: 1px solid rgba(0, 0, 0, 0.389);
          border-top-left-radius: 5px;
          font-family: "Roboto";
          white-space: nowrap;
          overflow: hidden;
            text-overflow: ellipsis;
          @media (max-width: 595px) {
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 3px;
          }
          &:nth-child(1) {
            width: 40%;
            border-top-right-radius: 5px;
            @media (max-width: 595px) {
              width: 30%;
            }
          }
          &:nth-child(2) {
            width: 40%;
            border-radius: 0;
            border-top-left-radius: 5px;
            @media (max-width: 595px) {
              width: 30%;
            }
          }
          &:nth-child(3) {
            width: 35%;
            @media (max-width: 595px) {
              width: 30%;
            }
          }
          &:nth-child(4) {
            width: 35%;
            @media (max-width: 595px) {
              width: 25%;
            }
          }
          &:nth-child(5) {
            width: 40%;
            @media (max-width: 595px) {
              width: 30%;
            }
          }
          &:nth-child(6) {
            width: 50%;
            @media (max-width: 595px) {
              width: 30%;
            }
          }
          &:hover {
            background: rgba(50, 224, 196, 0.15);
          }
          &.active {
            background: #fff;
          }
        }
      }
    }
  }
}
.top-video-component-container {
  position: relative;
  .top-video-component-area {
    max-height: 400px;
    overflow: hidden;
    &::before {
      content: "";
      background-color: rgba(21, 26, 48, 0.6);
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      @media (max-width: 700px) {
        height: 97%;
      }
    }
  }
  h3 {
    color: white;

    @media (max-width: 768px) {
      font-size: 22px;
    }
    @media (min-width: 768px) {
      font-size: 40px;
    }
    font-weight: 600;
    position: absolute;
    top: 40%;
    left: 5%;
  }
}
