.modal-body-content-proposal {
  padding: 5em;
  text-align: left;

  .title {
    margin-bottom: 2em;
    text-align: left;
    & h3 {
      font-weight: 500;
      color: #131212;
      font: normal normal medium 35px/46px Roboto !important;
    }
  }
  .input-id-wrapper {
    margin-bottom: 2em;

    .input-id {
      width: 100%;
      padding: 10px 0px;
      text-align: center;
      border: 1px solid #dbdbdb;
      border-radius: 4px;
      color: #131212;
    }
  }

  .user-info-wrapper {
    display: flex;
    margin-bottom: 2em;
    color: #131212;
    & p {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      margin-left: 20px;
    }
  }
  .team-title {
    margin-bottom: 2em;
    text-align: left;
  }

  .button {
    background: #295707 0% 0% no-repeat padding-box;
    color: #ffffff;
    font: normal normal normal 14px/19px Roboto;
    border: 1px solid #295707;
    width: 198px;
    border-radius: 4px;
    padding: 8px 12px !important;
    cursor: pointer;
  }
}

.modal-content {
  border-radius: 10px !important;
}
